@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Karla:wght@400;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    padding-right: 20px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: #FFFFFF;
    margin: 120px 50px -10px 50px;
}

span {
    color: #4ADF86;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    color: #D5D4D8;
    margin-left: 50px;
}

.generate-pass {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color:#10B981;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    margin: 25px 0px 20px 50px;
    z-index: 3;
}

.line {
    width: 446px;
    color: #2F3E53;
    border: 1px solid;
    margin: 10px 0px 25px 50px;
}

.generated-passwords {
    display: inline-block;
}

#generated-password-1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color:#273549;
    color: #55F991;
    border-style: none;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    margin: 25px 0px 25px 50px;
}

#generated-password-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color:#273549;
    color: #55F991;
    border-style: none;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    margin: 25px 0px 25px 50px;
}
